[flake8]
    max-line-length=140
    exclude = __init__.py

    max-local-variables=10
    max-arguments=10
    max-imports=15
    max-call-level=5
    max-try-body-length=5
    max-cognitive-score=20